body 
{
  align-items: center;
  background-image: url("https://image.slidesdocs.com/responsive-images/background/handdrawn-style-blue-cute-education-math-lovely-powerpoint-background_a698b5341c__960_540.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  font-family: Arial, sans-serif;
}

.title
{
    color: #d2540b;
    text-shadow: 3px 3px #0000003b;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

 .calculator 
{
  width: 260px;
  padding: 20px;
  border-radius: 20px;
  background-color: #faddba;
  border: 2px solid rgba(0,0,0,0.5);
}


.display
 {
  width: 90%;
  height: 50px;
  margin-bottom: 15px;
  font-size: 24px;
  text-align:right;
  padding: 10px;
  color: #db5400;
  background-color: #fff5fa;
  border-radius: 15px;
  border: none;
}

table 
{
  width: 100%;
  border-spacing: 10px;
}

.button 
{
  width: 100%;
  height: 50px;
  font-size: 20px;
  border-radius: 30px;
  background-color: #ecb278;
  color: #090000;
  cursor:pointer;
}

.button:hover 
{
  background-color: #c50202;
}
